*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: sans-serif;
  }
  .header
  {
    padding: 10px;
    margin: 0 20px;
  }
  nav{
    background-color: #FCEBDF;
    height: 80PX;
    width: 100%;
    overflow: hidden;
  }
 
  .nav1{
    align-items: center;
    margin-left: 500px;
    margin-top: -50px;
    word-spacing: 10px;
    font-size: 20px;
    background-color: #FCEBDF;
    color: #1B5E20;
 }
 a:hover, a:active{
  color: #1B5E20;
  font-weight: bold;
}

 .nav1 a{
    color: #1B5E20;

 }
 .icon{
    margin-left: 10px;
    margin-top: -35px;
    float: right;
    word-spacing: 10px;
    font-size: 30px;
   
 }
 .icon a{
    color: #1B5E20;
    font-weight: bold;
 }

.statment
{
    width: 100%;
    height: 120px;
    background-color: #FFFAF7;

}

.imp
{
  font-style: normal;  
  font-size: 50px;
  padding: 10px;
  padding-top: 40px;
  margin: 0 20px;
}


.catalogue
{
    color: #707070;
    font-style: normal;  
    font-size: 20px;
    float: right;
}
.size
{
    font-size: 28px;
    
}
